<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Expense Tracker</title>
  <link rel="stylesheet" type="text/css" href="web/css/jquery-ui-1.10.1.custom.min.css">
  <link rel="stylesheet" type="text/css" href="web/css/default.css">
  <script data-main="web/js/main" src="web/js/vendor/require.js"></script>
</head>
<body>
</body>
</html>
